
.newPupper_button{
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: .7rem;
    font-weight:lighter;
    font-family: Calibri;
    cursor: pointer;
    border:solid dodgerblue;
}
.addNewPupper_button{
    position: fixed;
    border: none;
    padding: 0;
    right: 2em;
    bottom:3em;
    background-color: #275bb6;
    color:white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}