.pupperInfo_section{
    background-color: #282c34;
    color: white;
    padding: 2rem;
    text-align: center;
    width: 30rem;
    height:20em;
    border-radius:1rem;
    border: none;
    box-shadow: 0px 0px 28px -12px #00ffdb;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.pupperInfo_div{
    margin-bottom:auto;
}
.pupperInfo_section img{

    max-height: 70%;
    max-width: 100%;
    margin-top: 1em;
    border-radius: 1rem;
    position: relative;
    vertical-align: middle;
    filter: grayscale(.3);
}

/*noinspection CssInvalidPropertyValue*/
.pupperInfo_section img{
    transition: ease .3s all;
}

.pupperInfo_section img:hover{
      filter: grayscale(0);
  }